In [17]:
from sqlalchemy import create_engine

In [37]:
sqlite_engine='sqlite:///memory.db'
engine=create_engine(sqlite_engine)

In [38]:
from sqlalchemy import text

In [45]:
with engine.connect() as connection:
    connection.begin()
    data=connection.execute(text('select * from Loan;'))
    data_=data.fetchall()

In [44]:
print(data_)

[(1, 1, 1, '2025-10-07 09:30:41.931005', '2025-10-21 09:30:41.931011', None, 'returned', 0), (2, 2, 2, '2025-10-07 09:48:14.362565', '2025-10-21 09:48:14.362569', None, 'Returned', 0), (3, 1, 1, '2025-10-07 09:51:16.227305', '2025-10-21 09:51:16.227309', None, 'returned', 0), (4, 1, 1, '2025-10-07 09:52:48.234411', '2025-10-21 09:52:48.234415', None, 'returned', 0), (5, 1, 1, '2025-10-07 09:54:07.846815', '2025-10-21 09:54:07.846821', None, 'returned', 0), (6, 1, 1, '2025-10-07 09:54:43.925069', '2025-10-21 09:54:43.925074', None, 'borrowed', 0), (7, 1, 1, '2025-10-07 09:54:43.926278', '2025-10-21 09:54:43.926280', None, 'returned', 0), (8, 1, 1, '2025-10-07 10:17:15.988300', '2025-10-21 10:17:15.988307', None, 'borrowed', 0)]

In [14]:
def sum():
    a=[i for i in range(1,100)]
    for i in a:
        return i

In [16]:
a

1

In [15]:
a=sum()

In [13]:
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99