In [17]:
from sqlalchemy import create_engine

In [37]:
sqlite_engine='sqlite:///memory.db'
engine=create_engine(sqlite_engine)

In [38]:
from sqlalchemy import text

In [45]:
with engine.connect() as connection:
    connection.begin()
    data=connection.execute(text('select * from Loan;'))
    data_=data.fetchall()

In [44]:
print(data_)

[(1, 1, 1, '2025-10-07 09:30:41.931005', '2025-10-21 09:30:41.931011', None, 'returned', 0), (2, 2, 2, '2025-10-07 09:48:14.362565', '2025-10-21 09:48:14.362569', None, 'Returned', 0), (3, 1, 1, '2025-10-07 09:51:16.227305', '2025-10-21 09:51:16.227309', None, 'returned', 0), (4, 1, 1, '2025-10-07 09:52:48.234411', '2025-10-21 09:52:48.234415', None, 'returned', 0), (5, 1, 1, '2025-10-07 09:54:07.846815', '2025-10-21 09:54:07.846821', None, 'returned', 0), (6, 1, 1, '2025-10-07 09:54:43.925069', '2025-10-21 09:54:43.925074', None, 'borrowed', 0), (7, 1, 1, '2025-10-07 09:54:43.926278', '2025-10-21 09:54:43.926280', None, 'returned', 0), (8, 1, 1, '2025-10-07 10:17:15.988300', '2025-10-21 10:17:15.988307', None, 'borrowed', 0)]

In [24]:
def sum():
    a=[i for i in range(1,100)]
    for i in a:
        return i

In [25]:
a=sum()
print(a)

1